.main-header{
    @include media(large){
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        flex-wrap      : nowrap;
        height         : 500px;
    }
        &__image{
            @include media(large){
                height: 500px;
        }
    }
}

.img{
    @include media(large){
        height: 100%;
      
    }
}
.main-nav{

    top  : 1rem;
    width: 100%;

    &__list{
        position        : fixed;
        top             : 0;
        width           : 100%;
        background-color: var(--white);
        padding-top     : 2rem;
        @include flex(row,space-around,center);
        animation: taadaa 1s;

        
    }
    
    &__listM{
        @include media(medium){
            position       : absolute;
            top            : 2rem;
            left           : 8rem;
            width          : 100%;
            display        : flex;
            justify-content: flex-start;
            
        }
    }

    &__list::after{
        content         : '';
        display         : block;
        position        : fixed;
        opacity         : 0.5;
        top             : 7rem;
        background-color: var(--black) ;
        height          : 100%;
        width           : 100%;
        
    }
    &__item{
        padding       : 1rem;
        font-size     : 13px;
        text-transform: lowercase;
        color         : black;
        font-weight   : 700;
        
        @include media(medium){
             color: var(--white);
        }
    }
    
    &__hamburger{
        width   : 2rem;
        position: absolute;
        top     : 2rem;
        left    : 2rem;

        @include media(medium){
            display: none;
       }
    }

    &__title{
        width   : 4rem;
        position: absolute;
        top     : 2rem;
        left    : 0;
        right   : 0;
        margin  : 0 auto;
        @include media(medium){
            top   : 3rem;
            left  : 2rem;
            margin: initial;
        }
    }
}

.information{
    padding: 0 4rem;
    @include media(medium){
        padding: 0 7rem;
    }
    @include media(large){
        max-width: 40%;
        padding  : 4rem;
        
    }
    @include media(slarge){
        padding: 6rem;
    }
    
    &-title{
        font-weight: 500;
        @include media(large){
            font-size: 1.6rem;
        }
    }
    &-paragraph{
        font-size  : .7rem;
        line-height: 1.4rem;
        color      : var(--dark-gray);
        @include media(large){
        }
    }

    &-link{
        color         : var(--black);
        letter-spacing: .5rem;
        text-transform: uppercase;
        display       : flex;
        font-size     : .6rem;
        @include media(large){
            font-size: .7rem;
        }
    }

    &-link::after{
        content          : '';
        display          : block;
        background-image : url(/assets/img/icon-arrow.svg);
        background-repeat: no-repeat;
        width            : 3rem;
        margin-left      : 2rem;
        
    }
    
}

.animation{
    animation: fade .4s;
}
@keyframes taadaa { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}
 